html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    text-decoration: none;
    color: #ffffff;
}
.main {
    margin: 0 20px;
    padding: 20px 0 0 0;
}
/* Навигация */

.nav-link {
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.nav-link:hover {
    color: #000;
    border-bottom: 1px solid #000000;
}
.phone {
    border: 2px solid #0040E3;
    border-radius: 91px;
    padding: 18px 60px;
    font-weight: bold;
    font-size: 17px;
    color: #0040E3;
    white-space: nowrap;
}
/* Секция 1 */
.s2__sec1 {
    width: 100%;
    height: 507px;
    background-image: url('../image/image2/sec1.svg');
    background-size: 100%;
    padding: 130px 0 0 100px;
    margin-bottom: 40px;
}
.s2__sec1__elem1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #ffffff;
}
.s2__sec1__elem2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
}
/* Секция 2 */
.s2__sec2 {
    width: 100%;
    max-width: 1551px;
    margin-left: 176px;
}
.s2__sec2__elem1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.s2__sec2__elem2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #0040E3;
    margin-top: 47px;
    margin-bottom: 47px;
}
.s2__sec2__elem3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #ffffff;
}
.s2__sec2__container__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 24px;
}
.s2__sec2__sochi {
    width: 503px;
    height: 337px;
    padding: 240px 0 0 51px;
    background: url('../image/image2/экскурсии-по-россии/sochi.svg');
    border-radius: 16px;
}
.s2__sec2__moskva {
    width: 503px;
    height: 337px;
    padding: 240px 0 0 51px;
    background: url('../image/image2/экскурсии-по-россии/moskva.svg');
    border-radius: 16px;
}
.s2__sec2__sankt-peterburg {
    width: 503px;
    height: 337px;
    padding: 240px 0 0 51px;
    background: url('../image/image2/экскурсии-по-россии/sankt-peterburg.svg');
    border-radius: 16px;
}
.s2__sec2__krym {
    width: 503px;
    height: 337px;
    padding: 240px 0 0 51px;
    background: url('../image/image2/экскурсии-по-россии/krym.svg');
    border-radius: 16px;
}
.s2__sec2__kazan {
    width: 503px;
    height: 337px;
    padding: 240px 0 0 51px;
    background: url('../image/image2/экскурсии-по-россии/kazan.svg');
    border-radius: 16px;
}
.s2__sec2__adler {
    width: 503px;
    height: 337px;
    padding: 240px 0 0 51px;
    background: url('../image/image2/экскурсии-по-россии/adler.svg');
    border-radius: 16px;
}
.s2__sec2__nizhniy-novgorod {
    width: 503px;
    height: 337px;
    padding: 240px 0 0 51px;
    background: url('../image/image2/экскурсии-по-россии/nizhniy-novgorod.svg');
    border-radius: 16px;
}
.s2__sec2__volgograd {
    width: 503px;
    height: 337px;
    padding: 240px 0 0 51px;
    background: url('../image/image2/экскурсии-по-россии/volgograd.svg');
    border-radius: 16px;
}
.s2__sec2__samara {
    width: 503px;
    height: 337px;
    padding: 240px 0 0 51px;
    background: url('../image/image2/экскурсии-по-россии/samara.svg');
    border-radius: 16px;
}
/* Секция 3 */
.s2__sec3{
    width: 100%;
    height: 415px;
    background-color: #021442;
    margin-top: 143px;
}
.s2__sec3__osnova {
    width: 100%;
    max-width: 1551px;
    margin-left: 176px;
    padding: 62px 0 0 0;
}
.s2__sec3__elem1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.s2__sec3__elem2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #FFFFFF; 
}
.s2__sec3__elem3 {
    width: 437px;
    height: 84px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 48px;
    margin-right: 66px;
    background: #021442;
}
.s2__sec3__elem4 {
    width: 437px;
    height: 84px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 66px;
    background: #021442;
}
.s2__sec3__elem5 {
    width: 437px;
    height: 84px;
    background: #F1F1F1;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #000000;
}
/* Footer */
footer {
    background: #EFF4FF;
}
.footer_site {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 78px;
    white-space: pre-line;
    width: 100%;
    max-width: 1551px;
    padding-bottom: 123px;
}
.grid1 > img {
    margin-top: 47px;
}
.grid1_butt {
    width: fit-content;
}

.grid1_butt > button {
    background: #3A71FF;
    border-radius: 78px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    width: 327px;
    height: 53px;
    border: 0;
}
.grid1_tel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}
.grid1_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 150%;
    margin-top: 24.65px;
}

.grid_text_h1 {
    margin-top: 78px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}
.grid_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000;
    text-decoration: none;  
}
.grid_text > a {
    color: #000;
    text-decoration: none;  
}
.grid_text > a:hover {
    color: rgb(94, 94, 94);
}