
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    text-decoration: none;
    color: #ffffff;
}
.main {
    margin: 0 20px;
    padding: 20px 0 0 0;
}
/* Навигация */

.nav-link {
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.nav-link:hover {
    color: #000;
    border-bottom: 1px solid #000000;
}
.phone {
    border: 2px solid #0040E3;
    border-radius: 91px;
    padding: 18px 60px;
    font-weight: bold;
    font-size: 17px;
    color: #0040E3;
    white-space: nowrap;
}
/* Секция первая */
.sec1 {
    background-image: url('../image/backround.jpg');
    background-size: 100%;
    min-height: 816px;
    position: relative;
}
.sec1__block-left{
    padding: 236px 780px 300px 115px;
}
.sec1__block-left > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #ffffff;
}
.sec1__block-left > span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
}
.block-left__link > a.link{
    padding: 25px 80px;
    border: 1px solid black; 
    border-radius: 80px;
}
.block-left__link{
    margin-top: 60px;
}
.block-left__link > a.blue {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background: #0040E3;
    border: 1px solid #0040E3;
    color: #ffffff;
}
.block-left__link > a.black{
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border: 3px solid #ffffff;
    margin-left: 30px;
}
.link__text{
    margin-left: 20px;
}
.sec1__block-right {
    position: absolute;
    right: 0;
    top: 181px;
}
.sec1__block-right > h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
.block-right__back {
    background-image: url('../image/Rectangle11.svg');
    width: 520px;
    height: 400px;
    padding: 213px 60px 115px 61px;
}
.link__sam {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
.link__sam1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #ffffff;
    margin-top: 5px;
}
.link__2000 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #ffffff;
}

/* Секция 2 Поиск */

.sec2__search {
    max-width: 1551px;
    width: 100%;
    height: 103px;
    margin: auto;
    border: 1px solid #2078FB;
}
.sec2__site {
    display: flex;
    max-width: 1500px;
    width: 100%;
    justify-content: space-between;
    margin-left: 47px;
}

.site {
    border: 0px;
    max-width: 210px;
    width: 100%;
    height: 27px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    color: #808080;
    outline: none;
}
.navbar1 {
    display: flex;
    justify-content: space-between;
    max-width: 555px;
    width: 100%;
}


.line {
    border-left: 3px solid #c4c4c4;
    border-radius: 9px;
    height: 34px;
}
.search {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
    width: 331px;
    height: 103px;
    background: #0040E3;
    border: 0;
}
.navbar2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 28px;
}
.navbar2 > label {
    margin: 0;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    color: #808080;
}
.navbar2 > label:hover {
    cursor: pointer;
}
#filter {
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    color: #808080;
}
#city, #category, #date {
    display: none;
}
#city, #category, #date {
    display: none;
}

/* Секция 3 */

.sec3__catalog {
    width: 100%;
    max-width: 1551px;
    margin: auto;
    margin-top: 38px;
}
.container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 33px;
    grid-column-gap: 19px;
}
.elem__catalog {
    width: 100%;
    max-width: 503px;
    height: 710px;
    border: 3px solid #0040E3;
    margin-right: 10px;
    margin-bottom: 10px;
}
.elem__top {
    width: 100%;
    height: 321px;
    background-image: url(../image/Sochi.svg);
}
.elem__butt {
    width: 193px;
    height: 36px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    margin-left: 34px;
    border: 0;
}
.butt1 {
    background: #FFFFFF;
    border-radius: 4px;
}

.butt2 {
    background: #04CA00;
    border-radius: 4px;
    margin-left: 15px;
    color: #ffffff;
}
.navbar-container-time {
    height: 261px;
}
.time {
    width: 129px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #0040E3;
    box-sizing: border-box;
    border-radius: 39px;
    width: 124px;
    height: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin: 0 40px 24px 0;
}
.col {
    padding: 0;
}
.elem__bottom__top {
    width: 100%;
    height: 100px;
    padding: 19px 61px 0 34px;
}
.elem__bottom__ava {
    height: 47px;
    width: 47px;
    margin: 0 48px 0 0 ;
}
.elem__bottom__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 80px;
}
.elem__bottom__quan {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 14px;
}
.elem__bottom__bott {
    width: 100%;
    height: 100%;
    padding: 0 61px 0 34px;
}
.elem__bottom__naz {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
.elem__bottom__descri {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 7px 0 14px 0;
}
.elem__bottom__time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 193px;
    height: 36px;
    background: #FF5757;
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    margin-right: 24px;
    margin-bottom: 31px;
}
.elem__bottom__sum {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
.elem__bottom__discover {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #0040E3;
}
.elem__bottom__but {
    width: fit-content;
    margin: auto;
    height: 69px;
}
.bottom__but {
    width: 69px;
    height: 69px;
    background-color: #E1E1E1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    border-radius: 5px;
    margin-right: 27px;
    margin-top: 43px;
}
.bottom__but:hover {
    background: #0040E3;
    border: 0;
    color: #ffffff;
}

/* секция 4 */
.sec4{
    width: 100%;
    max-width: 1551px;
    height: 210px;
    margin-left: 176px;
    margin-top: 170px;
    display: flex;
}
.sec4__elem {
    width: 372px;
    height: 209px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 34px 26px 34px 36px;
    margin-right: 20px;
}
.sec4__elem__heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
.sec4__elem__foun {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
/*  Секция 5*/

.sec5 {
    width: 100%;
    max-width: 1551px;
    margin-left: 176px;
    margin-top: 117px;
}
.sec5__container-grid {
    display: grid;
    grid-column-gap: 27px;
    grid-row-gap: 24px;
}
.sec5__site{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #0040E3;
    margin-bottom: 46px;
}
.sec5__sochi {
    width: 1019px;
    height: 698px;
    background-image: url(../image/our_cities/sochi.svg);
    padding: 503px 0 0 105px;
}
.sec5__name_site {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}
.sec5__ysly {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
}
.sec5__sankt-peterburg {
    width: 503px;
    height: 337px;
    background-image: url(../image/our_cities/sankt-peterburg.svg);
    padding: 188px 0 0 55px;
}
.sec5__sankt-adler {
    width: 503px;
    height: 337px;
    background-image: url(../image/our_cities/adler.svg);
    padding: 188px 0 0 55px;
}
.__adler_just_adler {
    margin-top: 24px;
}
.sec5__nizhniy-novgorod {
    width: 503px;
    height: 337px;
    background-image: url(../image/our_cities/nizhniy-novgorod.svg);
    padding: 188px 0 0 55px;
}
.sec5__volgograd {
    width: 503px;
    height: 337px;
    background-image: url(../image/our_cities/volgograd.svg);
    padding: 188px 0 0 55px;
}
.sec5__samara {
    width: 503px;
    height: 337px;
    background-image: url(../image/our_cities/samara.svg);
    padding: 188px 0 0 55px;
}
.under__sochi {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-between;
    height: fit-content;
}
/* Помоги */

.nav-content_butt {
    height: fit-content;
    width: fit-content;
    margin: 68px auto 0 auto;
}
.sec5__butt {
    width: 437px;
    height: 84px;
    background: #0040E3;
    border-radius: 91px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
}
/* Секция 6 */
.sec6 {
    width: 100%;
    max-width: 1551px;
    margin-left: 176px;
    margin-top: 117px;
    display: flex;
    justify-content: space-between;
}
.sec6__right {
    width: 100%;
    max-width: 720px;
}
.sec6__elem1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #0040E3;
}
.sec6__elem2 {
    width: 261px;
    height: 44px;
    border: 1px solid #0040E3;
    box-sizing: border-box;
    border-radius: 72px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0040E3;
    margin: 19px 0 31px 0;
}
.container-grid__sec6 {
    display: grid;
    grid-row-gap: 29px;
}
.sec6__elem3 {
    width: 715px;
    height: 277px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    padding: 28px 137px 30px 48px;
}
.sec6__elem3__1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #000000;
    width: 100%;
}
.sec6__elem3__2 {
    width: 530px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
    line-height: 150%;
    margin-bottom: 10px;
}
.sec6__elem4 {
    height: 30px;
    margin-bottom: 31px;
}
.sec6__elem4__1 {
    width: 29px;
    height: 25.29px;
}
.sec6__elem4__2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #9D9D9D;
}
.sec6__elem3__5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #0040E3;
    margin-top: 10px
}
.sec6__elem5 > span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    color: #0040E3;
    letter-spacing: 0.185em;
    text-transform: uppercase;
}
.sec6__elem5 > img {
    margin-left: 21px;
}
/* Секция 7 */
.sec7 {
    width: 100%;
    max-width: 1551px;
    margin-top: 170px;
}
.container-grid__sec7 {
    display: grid;
    margin-top: 36px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 23px;
}
.sec7__elem1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #0040E3;
}
.sec7__elem2 {
    width: 765px;
    height: 381px;
    border: 2px solid #0040E3;
    display: flex;
}
.sec7__elem2__1-container {
    width: fit-content;
    height: fit-content;
}
.container_sec7-elem2 {
    margin-left: 20.59px;
}
.sec7__elem2__1 {
    height: 381px;
    width: 315px;
}
.sec7__elem2__2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    margin-top: 46.48px;
}
.sec7__elem2__3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
.sec7__elem2__4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #0040E3;
}
.sec7__elem2__5-container {
    width: fit-content;
    height: fit-content;
    margin: 90px auto 0 auto;
}
.sec7__elem2__5 {
    width: 437px;
    height: 84px;
    background: #0040E3;
    border-radius: 91px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
}
/* Секция 8 */
.sec8 {
    width: 100%;
    background: #021442;
    height: 928px;
    margin-top: 138px;
    padding: 121px 0 0 190px;
    display: flex;
}
.sec8__left {
    width: 100%;
    max-width: 595px;
    height: 100%;
    margin-right: 168px;
}
.sec8__elem1-2_container {
    margin-bottom: 55px;
}
.sec8__elem1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sec8__elem2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #FFFFFF;
}
.sec8__elem3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}
.sec8__elem4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #FFFFFF;    
}
.sec8__elem5-6_container {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.sec8_elem6_day {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;  
    letter-spacing: 0.035em;
    color: #fff;
}
.sec8__elem5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    width: fit-content;
}
.sec8__elem6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.035em;  
    color: #FFFFFF; 
}
.sec8__elem7 {
    width: 437px;
    height: 84px;
    background: #FFFFFF;
    border-radius: 91px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 35px;
}
.sec8__elem8 {
    width: 950px;
    height: 659.39px;
    margin-bottom: 54px;
}
.sec8__elem9 {
    margin-right: 135px;
    margin-left: 180px;
}
.sec8__elem10 {
    width: 14px;
    height: 14px;
    background: #ECECEC;
    border: 0;
    border-radius: 100%;
    margin-right: 31px;
}
.sec8__elem11 {
    margin-left: 104px;
}
/* Секция 9 */

.sec9 {
    width: 100%;
    max-width: 1551px;
}
.sec9__elem1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #0040E3; 
    margin: 130px auto 76px;
    width: fit-content;
}
.sec9_elem3-4_container {
    width: 100%;
    max-width: 573px;
    margin-top: 46px;
    margin-left: 81px;
}
.sec9__elem2 {
    width: 100%;
    max-width: 1550px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    display: flex;
}
.sec9__elem3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
}
.sec9__elem4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}
.sec9__elem5 {
    width: 14px;
    height: 14px;
    background: #BBB6B6; 
    border: 0;
    border-radius: 100%;
    margin-left: 31px;
}
.sec9__elem6 {
    margin-right: 135px;
    margin-left: 415px;
}
.sec9__elem7 {
    margin-left: 104px;
}
.sec9__control_panel {
    margin-top: 57px;
    margin-bottom: 109px;
}
/* Секция 10 */
.sec10{
    width: 100%;
    height: 415px;
    background-color: #021442;
}
.sec10__osnova {
    width: 100%;
    max-width: 1551px;
    margin-left: 176px;
    padding: 62px 0 0 0;
}
.sec10__elem1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sec10__elem2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #FFFFFF; 
}
.sec10__elem3 {
    width: 437px;
    height: 84px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 48px;
    margin-right: 66px;
    background: #021442;
    background:  url(../image/Phone.svg) no-repeat 51px;
    padding-left: 122px;
}
.sec10__elem4 {
    width: 437px;
    height: 84px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 66px;
    background: #021442;
    background:  url(../image/human.svg) no-repeat 55px;
    padding-left: 122px;
}
.sec10__elem5 {
    width: 437px;
    height: 84px;
    background: #F1F1F1;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #000000;
}
/* Секция 11 */
.sec11 {
    width: 100%;
    max-width: 1551px;
    margin-left: 176px;
}
.sec11__elem1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.185em;
    text-transform: uppercase;
    color: #0040E3;
    margin-top: 91px;
    margin-bottom: 25px;
}
.sec11__elem2-3_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 189px;
}
.sec11__elem2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    width: 764px;
    height: 180px;
}
.sec11__elem3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    width: 764px;
    height: 180px;
}
/* Footer */
footer {
    background: #EFF4FF;
}
.footer_site {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 78px;
    white-space: pre-line;
    width: 100%;
    max-width: 1551px;
    padding-bottom: 123px;
}
.grid1 > img {
    margin-top: 47px;
}
.grid1_butt {
    width: fit-content;
}

.grid1_butt > button {
    background: #3A71FF;
    border-radius: 78px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    width: 327px;
    height: 53px;
    border: 0;
}
.grid1_tel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}
.grid1_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 150%;
    margin-top: 24.65px;
}

.grid_text_h1 {
    margin-top: 78px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}
.grid_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000;
    text-decoration: none;  
}
.grid_text > a {
    color: #000;
    text-decoration: none;  
}
.grid_text > a:hover {
    color: rgb(94, 94, 94);
}